name: Build + test

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:

jobs:
  build_test_release:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Run unit tests
        shell: bash
        run: scripts/tests.unit.sh
      - name: Run integration tests
        shell: bash
        run: scripts/tests.integration.sh
      - name: Run e2e tests
        shell: bash
        run: E2E=true scripts/run.sh 1.9.0
        env:
          E2E: true
      - name: Run GoReleaser for cross-platform builds
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
