name: Static analysis

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  run_static_analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Run static analysis tests
        shell: bash
        run: scripts/tests.lint.sh
